#nav-bar {
	position: fixed;
	top: 0;
	background-color: #00a087;
	font-color: #e8fdff;
	padding-left: 2em;
	padding-right: 2em;
	z-index: 1;
	width: 100vw;

}
/*
#nav-bar .logo {
  /* ... */
}

/*#nav-bar .header {
  /* ... */
/*/