/*
 * top navigation bar
 */
#nav-bar {
	position: fixed;
	top: 0;
	background-color: #00a087;
	color: #e8fdff;
	padding-left: 2em;
	padding-right: 2em;
	width: 100vw;
	height: 80px;
}

/*
 * tweeter image
 */
#nav-bar .logo {
	width: 80px; 
	height: 80px;
	float: left;
	margin-right: 10px
}

/*
 * tweeter name
 */
#nav-bar .header {
	float: left;
	font-size: 40px;
	line-height:2;
}