#nav-bar {
	position: fixed;
	top: 0;
	background-color: #ba6b6c;
	color: #e8fdff;
	padding-left: 2em;
	padding-right: 2em;
	width: 100vw;
	height: 80px;
	.logo {
		width: 80px;
		height: 80px;
		float: left;
		margin-right: 10px
 color: #fffde7;
	}
	.header {
		float: left;
		font-size: 40px;
		line-height: 2;
		color: #fffde7;
	}
	.compose {
		height: 60px;
		width: 90px;
		border-radius: 10px;
		border: 3px solid #cccab5;
		background-color: #ef9a9a;
		float: right;
		margin: 0.5rem 2rem 0.5rem 0rem;
		padding: 1rem;
		color: #fffde7;
		&:hover {
			background-color: #995758;
			color: #000;
		}
	}
}