/*
 * compose tweet
 */

.new-tweet {
  background-color: #DCDCDC;
  border-radius: 15px;
  padding-right: 2em;
  padding-left: 2em;
  width: 80%;
  height: 12em;
  margin: auto;
  display: none;
}

/*
 * text form
 */

.new-tweet textarea {
  padding: 1em;
  display: block;
  width: 70%;
  resize: none;
}


/*
 * counter
 */

 footer .counter {
   float: right;
   line-height: 4.5;
 }


/*
 * for black line
 */

.new-tweet h2 {
  border-bottom: 2px solid black;
  line-height: 1.5;
  padding-top: 2%;
}

/*
 * for tweet button
 */

footer input {
  margin-top: 2%;
  border-radius: 5px;
}


/*
 * for red counter colour
 */
.invalid {
  color: #e50b0b;
  font-style: italic;
}


/*
 * for error 
 */

.new-tweet .errorMessage {
  color: #db3b43;
  font-size: 20px;
}









