.new-tweet {
  background-color: #ef9a9a;
  border-radius: 15px;
  padding-right: 2em;
  padding-left: 2em;
  width: 80%;
  height: 12em;
  margin: auto;
  display: none;
  textarea {
    padding: 1em;
    display: block;
    width: 100%;
    resize: none;
  }
  h2 {
    border-bottom: 2px solid black;
    line-height: 1.5;
    padding-top: 2%;
  }
  .errorMessage {
    color: #B00020;
    font-size: 20px;
  }
}
footer {
  .counter {
    float: right;
    line-height: 4.5;
  }
  input {
    margin-top: 2%;
    border-radius: 5px;
  }
}
.invalid {
  color: #e50b0b;
  font-style: italic;
}







